.plans_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.plan h3 {
    margin-bottom: 0.8rem;
}

.plan:first-child h3{
    margin-bottom: 0.8rem;
    background: silver;
    padding: 2rem 1rem;
    color: #BF1B2C;
}

.plan:nth-child(2) h3{
    margin-bottom: 0.8rem;
    background: goldenrod;
    padding: 2rem 1rem;
}
.plan:last-child h3{
    margin-bottom: 0.8rem;
    background: #BF1B2C;
    padding: 2rem 1rem;
    color: #fff;
}

.plan small {
    margin-bottom: 2rem;
}

.plan h1 {
    color: goldenrod;
    display: inline;
    font-size: 30px;
}

.plan h2 {
    color: #BF1B2C;
    display: inline;
}

.plan h4 {
    margin-top: 2rem;
}

.plan p {
    margin-top: 1rem;
}

.plan p.disabled {
    margin-top: 1rem;
    color: gray;
}

.plan button {
    margin-top: 3rem;
    cursor: pointer;
    color: #fff;
}


/************************************************** 
   Media Queries - Medium Screens 
***************************************************/
@media screen and (max-width: 1024px) {
    .plans {
        margin-top: 3rem;
    }
    .plans_container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}

/************************************************** 
   Media Queries - SMall Screens 
***************************************************/
@media screen and (max-width: 600px) {
    .plans {
        margin-top: 3rem;
    }
    .plans_container {
        grid-template-columns: 1fr;
    }
    article.card.plan {
        width: 90%;
        margin-inline: auto;
    }

}