.about_section_image {
    border-radius: 10%;
    overflow: hidden;
    transform: skew(10deg);
    transition: all 500ms ease;
}

.about_section_image:hover {
    transform: skew(0deg);
}

.about_section_content h1 {
    margin-bottom: 2rem;
}

.about_section_content p {
    margin-bottom: 1rem;
}

.about__story_container {
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 10%;
}

/************************************************** 
   Media Queries - Medium Screens 
***************************************************/
@media screen and (max-width: 1024px) {
    .about_section_image {
        width: 60%;
        margin: 0 auto;
    }
    .about_section_content h1 {
        margin-bottom: 1.2rem;
    }
    .about__story_container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
}

/************************************************** 
   Media Queries - SMall Screens 
***************************************************/
@media screen and (max-width: 600px) {
    .about__story {
        margin-top: 3rem;
    }
    .about_section_content {
        text-align: center;
    }
}