@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Oswald:wght@300;400;500;600;700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


/* General CSS */
/* 
--container-width-lg: 80%
--container-width-md: 90% 
--transition: all 500ms ease;
*/

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    overflow-x: hidden;
    background-color: #0c0606;
}

.container {
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1.2;
    color: #fff;
}

a, p {
    color: #fff;
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
}

.btn {
    background: #BF1B2C;
    margin: 0 auto;
    padding: 0.9rem 2rem;
    width: fit-content;
    border-radius: 1.5rem;
    transition: all 500ms ease;
}
.btn:hover {
    background: #fff;
    color: #BF1B2C;
}

.btn.lg {
    padding: 1.2rem 3rem;
    border-radius: 2rem;
    font-size: 1.1rem;
}

.btn.sm {
    padding: 0.4rem 1.2rem;
    font-size: 0.9rem;
}

.btn.sm:hover {
    background: #fff;
}

section {
    margin-top: 10rem;
}

.section_head {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.section_head span {
    background: #423d3d;
    color: gold;
    padding: 0.7rem 0.8rem 0.4rem 0.8rem;
    border-radius: 0.7rem;
    font-size: 1.5rem;
}

/* Card Component */
.card {
    /* background: gray; */
    /* background-image: url('./images/weightlifing.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #ccc;
    /* border: 2px solid transparent; */
    text-align: center;
    padding: 2rem 3rem;
    border-radius: 0 3rem 0 3rem;
    transition: all 500ms ease-in;
}


.card:hover {
    background: transparent;
    border-color: gray;
    cursor: default;
}

.card span {
    width: 3rem;
    height: 3rem;
    background-color: #BF1B2C;
    color: #fff;
    font-size: 1.5rem;
    padding: 0.8rem;
    display: grid;
    place-items: center;
    margin-bottom: 1.5rem;
    margin-inline: auto;
    border-radius: 1rem;
    transition: all 500ms ease;
}

.card:hover span {
    background-color: #423d3d;
    color: #fff;
}
.card small {
    margin-top: 1rem;
    display: block;
    font-weight: 300;
    color: #fff;
}

.card:hover svg {
    color: gold;
}


/************************************************** 
   Media Queries - Medium Screens 
***************************************************/
@media screen and (max-width: 1024px) {
    body {
        /* background-color: aqua; */
    }
    .container {
        width: 90%;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.6rem;
    }

}


/************************************************** 
   Media Queries - Small Screens 
***************************************************/
@media screen and (max-width: 600px) {
    h1 {
        font-size: 2.2rem;
        line-height: 1.3rem;
    }
}
